@model  MvcOnlineTicariOtomasyon.Models.Siniflar.InvoiceItem
@{
    ViewBag.Title = "NewMove";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Kalem Girişi</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.UnitPrice)
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Quantity)
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.EmployeeID)
    @Html.TextBoxFor(x => x.EmployeeID, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>
