@model MvcOnlineTicariOtomasyon.Models.Siniflar.Current
@{
    ViewBag.Title = "CurrentGet";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("CurrentUpdate", "Current", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CurrentID)
        @Html.LabelFor(x => x.CurrentName)
        @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CurrentName, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CurrentSurname)
        @Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CurrentSurname, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(x => x.CurrentCity)
        @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CurrentMail)
        @Html.TextBoxFor(x => x.CurrentMail, new { @class = "form-control" })
        <br />

        <button class="btn btn-success">Güncelle</button>
    </div>
}
