@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CurrentID</td>
            <td>@item.CurrentName</td>
            <td>@item.CurrentSurname</td>
            <td>@item.CurrentCity</td>
            <td>@item.CurrentMail</td>
            <td><a href="/Current/CurrentDelete/@item.CurrentID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Current/CurrentGet/@item.CurrentID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Current/CustomerSales/@item.CurrentID" class="btn btn-default" style="background-color:lightcoral">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Current/NewCurrent/" class="btn btn-success">Yeni Cari Ekle</a>