@model MvcOnlineTicariOtomasyon.Models.Siniflar.Product
@{
    ViewBag.Title = "ProductGet";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Ürün Güncelleme</h2>
<br />
@using (Html.BeginForm("ProductUpdate", "Product", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.HiddenFor(x=>x.ProductID)
        @Html.LabelFor(x => x.ProductName)
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Brand)
        @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Stock)
        @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.UnitPrice)
        @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.ListPrice)
        @Html.TextBoxFor(x => x.ListPrice, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Category.CategoryID)
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Deger1, new { @class = "form-control" })
        @*@Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })*@
        <br />
        @Html.LabelFor(x => x.ProductImage)
        @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Status)
        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Güncelle</button>
    </form>

 
}
